*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", "sans-serif";
  background-color: #222222;
  color: #ddd;
  font-weight: 300;
  line-height: 1.6; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  position: absolute;
  width: auto; }
  .nav-btn {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 50%;
    left: 2vw;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    z-index: 5; }
    .nav-btn .nav-line {
      height: 2px;
      background-color: #e7e7e7;
      margin-bottom: 0.5rem;
      transition: all 0.3s ease; }
      .nav-btn .nav-line-1 {
        width: 2rem; }
      .nav-btn .nav-line-2 {
        width: 3rem; }
      .nav-btn .nav-line-3 {
        width: 1rem; }
  .nav-text {
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(270deg); }

.navlinks {
  height: 100vh;
  width: 40vh;
  background: linear-gradient(to right, #ece9e6, #ffffff);
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 3; }

.navlinks a {
  color: #222222;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px; }

.navlinks li {
  list-style: none;
  opacity: 0; }

.nav-active {
  transform: translateX(0); }

.toggle .nav-line-1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
  width: 3rem;
  background-color: #222222; }

.toggle .nav-line-2 {
  opacity: 0; }

.toggle .nav-line-3 {
  transform: rotate(45deg) translate(-0.5rem, -0.5rem);
  width: 3rem;
  background-color: #222222; }

.width .nav-line-1 {
  width: 3rem; }

.width .nav-line-2 {
  width: 4rem; }

.width .nav-line-3 {
  width: 2rem; }

.nav-btn > div {
  width: 3rem; }

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(10vh);
  padding-left: 5rem; }
  .links > li:not(:last-of-type) {
    margin-bottom: 2rem; }

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #d9e4e4, #e5f1fa);
  height: 30vh;
  box-shadow: 0 0.5px 5px #222222; }
  .profile-pic {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-top: 4rem; }
  .profile-name {
    color: #222222;
    text-transform: uppercase;
    font-size: 500;
    letter-spacing: 0.2rem;
    text-align: center; }

.navs {
  padding: 1rem;
  background-position-x: left; }

.navs::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
  background-color: #222222; }

.navs:hover::after {
  width: 100%; }

.navs::before {
  content: "";
  position: absolute;
  background-color: #d9e4e4;
  z-index: -1;
  width: 90%;
  height: 1.5rem;
  left: 0;
  top: 6%; }

@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes zoomIn {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes scaleRightX {
  from {
    border-bottom: 2px solid #222222;
    transform: scaleX(0);
    opacity: 0; }
  to {
    border-bottom: 2px solid #222222;
    transform: scaleX(1);
    opacity: 1; } }

@keyframes margin {}
