.nav {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    width: 10vw;
    position: absolute; 
    // left: 5%; 
    width: auto;
    // background-color: white;

    &-btn{
        display: flex;
        flex-direction: column;
        align-items: end;
        // justify-content: space-around;
        position: absolute;
        top: 50%;
        left: 2vw;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        z-index: 5;

        .nav-line{
            height: 2px;
            background-color: rgb(231, 231, 231); 
            margin-bottom: 0.5rem;
            transition: all 0.3s ease;
            

            &-1{
                width: 2rem;
            }

            &-2{
                width: 3rem;
            }
            &-3{  
                width: 1rem;
                // width: 3rem;
                // transform: rotate(45deg) translateY(-1rem);  
            } 
        }
    }

    &-text {
        letter-spacing: .2rem;
        text-transform: uppercase; 
        font-size: 0.8rem; 
        font-weight: 400;   
        position: absolute;
        top: 50%;
        left: 6.5%;
        transform: rotate(270deg);
    }
}
 
.navlinks{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-left: 10rem; 
    height: 100vh;
    width: 40vh;
    background-color: rgb(231, 231, 231);
    transform: translateX(-100%);
    transition: all 0.5s ease;  
}

.navlinks a { 
    color: $color-bg;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:  bold;
    font-size: 14px;
}

.navlinks li {
    list-style: none; 
    opacity: 0;
}

.nav-active {
    transform: translateX(0);
}

.toggle .nav-line-1{
    transform: rotate(-45deg) translate(-5px,0.5em);
    width: 3rem;
    background-color: $color-bg;
}
.toggle .nav-line-2{
    opacity: 0;
}
.toggle .nav-line-3{
    transform: rotate(45deg) translate(-5px,-0.5rem);
    width: 3rem;
    background-color: $color-bg;
}


.width .nav-line-1 {
    width: 3rem;
}
.width .nav-line-2 {
    width: 4rem;
}
.width .nav-line-3 {
    width: 2rem;
}

.nav-btn  > div { 
    width: 3rem;
}