.nav {

    &-btn{
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 45%;
        left: 3%;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        background: transparent; 
        border: none; 

        // &:visited,
        // &:active {
        //     background-color: red;
        // }

        .nav-line{
            height: 2px;
            background-color: white; 
            margin-bottom: 0.5rem;
            

            &-1{
                width: 2rem;
                // width: 3rem;  

                // transform: rotate(135deg) translateY(-1rem); 
            }

            &-2{
                width: 3rem;
            }
            &-3{  
                width: 1rem;
                // width: 3rem;
                // transform: rotate(45deg) translateY(-1rem);  
            } 
        }
    }

    &-text {
        letter-spacing: .2rem;
        text-transform: uppercase; 
        font-size: 0.8rem; 
        font-weight: 400;   
        position: absolute;
        top: 45%;
        left: 6.5%;
        transform: rotate(270deg);
    }
}



